@import url('https://fonts.cdnfonts.com/css/formula-a');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente para el contenedor */
    padding: 40px;
    width: 600px; /* Aumenta el ancho del contenedor según tus necesidades */
    height: 400px;
    margin: auto; /* Centra horizontalmente el contenedor */
    position: absolute;
    top: 10%; /* Posición vertical en el centro */
    right: 15%; /* Posición horizontal en el centro */
    border-radius: 20px; /* Borde redondeado */
    overflow: hidden;
    transition: transform 0.5s;
    z-index: 2;
    
}
.container:hover {
    box-shadow: paleturquoise;
    transform: scale(1.1);
    }


.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    padding: 10px; /* Espacio alrededor del formulario */
    width: 100%; /* Ancho máximo para dispositivos pequeños */
    color: black;
    font-family: 'FORMULA-A', sans-serif;
    font-size: larger;
    
    
    
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }

  label {
    width: 150px; /* Ajusta el ancho de las etiquetas según sea necesario */
  /* Alinea el texto de las etiquetas a la derecha */
    margin-right: 20px; /* Añade espacio entre la etiqueta y el campo de entrada */
  }
  
  input {
    height: 10px;
    flex: 1; /* Hace que los campos de entrada ocupen el espacio restante en la fila */
    padding: 5px; /* Añade un poco de espacio dentro de los campos de entrada */
  }

  textarea {
    width: 90%; /* O ajusta a un valor específico, como "300px" */
    height: 110px; /* O ajusta a un valor específico */
    padding: 5px;
    resize: vertical; /* O "none" para desactivar la redimensión horizontal */
  }